################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

*.js.map
*.ts.map


/claudius/backend/__pycache__
/claudius/desktop.ini
/claudius/frontend/node_modules
/backend/data.json
/backend/agent_files